.news {

  .news-item {

    .card {
      height: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }

    iframe {
      width: 100%;
      display: block;
      height: 100%;
    }
  }

}